@import '../../style/vars.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background-image: url(../../style/img/projectfon.jpeg);

  background-repeat: no-repeat;
  background-size: 100% 100%;


  .header {
    flex-basis: 20%;
    padding-top: 20px;

    .nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90vw;
      margin: 0 auto;
      background-color: rgba(221, 13, 131, 0.2);
      margin-bottom: 20px;
    }

  }

  footer {

    flex-grow: 1;
    font: $backsideFont;
    color: $customLightBlue;

    p {
      font: $footerFont;
    }

    .footer__block {
      width: 90vw;
      margin: 0 auto;
      background-color: rgba(150, 188, 238, 0.2);
      padding: 10px 0px 10px 0px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
}

.header a {
  text-decoration: none;
  font: $headerFont;
}

.header a:hover {
  text-decoration: underline;
}