@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Medium.ttf)
}

@font-face {
  font-family: 'Montserrat-b';
  src: url(../fonts/Montserrat-Black.ttf)
}

$headerFont: lighter 22px 'Montserrat-b';
$wordFont: 30px 'Montserrat';
$backsideFont: lighter 16px 'Montserrat';
$footerFont: 14px 'Montserrat';

$customLightBlue: #395ece;
$customBlue: #0000CD;
$btnColor: #6495ED;

body {
  margin: 0;
  font-family: 'Montserrat';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}