$headerFont: lighter 22px 'Montserrat-b';
$wordFont: 30px 'Montserrat';
$backsideFont: lighter 16px 'Montserrat';
$footerFont: 14px 'Montserrat';

$customLightBlue: #395ece;
$customBlue: #0000CD;
$btnColor: #6495ED;
